<%- include('partials/header') %>
<main>
    <h1>Luke Campbell</h1>
    <img class="profile-picture" src="/images/me-byui.webp" alt="Luke Campbell" style="max-width: 200px;">
    <p>
        Hello! I'm Luke a student trying to be a web developer. I'm learning to build clean, user-friendly websites.
    </p>
</main>
<%- include('partials/footer') %>